<nav
  [ngClass]="{ hidden: !isNavbarVisible, block: isNavbarVisible }"
  class="fixed w-full z-20 top-0 start-0"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-around lg:justify-between company"
  >
    <a
      href="#"
      class="flex items-center space-x-3 rtl:space-x-reverse company-name"
    >
      <img
        src="../../../assets/images/logo/logo.png"
        alt="Auto Diagnoza Service"
      />
      <span class="self-center whitespace-nowrap">Auto Diagnoza Service</span>
    </a>
    <div
      class="flex md:order-2 space-x-40 md:space-x-0 rtl:space-x-reverse company-right-menu"
    >
      <button type="button" class="phone">
        <fa-icon [icon]="faPhone"></fa-icon> Zadzwoń
      </button>
      <button
        (click)="toggleMenu()"
        type="button"
        class="toogle-menu md:hidden"
        aria-controls="navbar-sticky"
        [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
      >
        <span class="sr-only">Otwórze menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
      id="navbar-sticky"
    >
      <ul class="flex flex-col rtl:space-x-reverse md:flex-row menu-list">
        <li>
          <a href="#" class="block" aria-current="page">Strona główna</a>
        </li>
        <li>
          <a href="#" class="block">O firmie</a>
        </li>
        <li>
          <a href="#" class="block">Usługi</a>
        </li>
        <li>
          <a href="#" class="bloc">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
