nav {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s ease, opacity 1s ease, visibility 1s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
  }

  &.block {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
