<div class="about" id="about">
  <h1>Trochę o nas</h1>
  <div class="service-info flex flex-col md:flex-row flex-wrap items-center">
    <div class="service-image md:basis-1/2">
      <img
        src="../../../assets/images/about/company.jpg"
        alt="Auto Diagnoza Service"
      />
    </div>
    <div class="service-description md:basis-1/2">
      <span class="name">Auto Diagnoza Service</span> to profesjonalny warsztat
      samochodowy, oferujący kompleksową diagnostykę i naprawy pojazdów.
      Specjalizujemy się w szybkiej i dokładnej analizie usterek, zapewniając
      skuteczne rozwiązania. Dzięki nowoczesnemu sprzętowi i doświadczonemu
      zespołowi mechaników, gwarantujemy najwyższą jakość usług i pełne
      zadowolenie naszych klientów. Zaufaj ekspertom, aby Twój samochód działał
      bez zarzutu!

      <div class="adrress">
        <h3>Znajdziesz nas tutaj</h3>
        <p>ul. Okrętowa 5</p>
        <p>74-320 Barlinek</p>
      </div>

      <div class="map">
        <app-google-map />
      </div>
    </div>
  </div>
</div>
