@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//COLORS
$primary-color: #262e38;

//FONTS

//HEADER
$header-primary-color: #fff;
$header-menu-font: "Oswald", sans-serif;
$header-background-color: rgba(38, 46, 56, 0.4);
